body {
    background-image: url("https://files.catbox.moe/fpk9o5.png");
    background-size: cover;
    background-repeat: no-repeat; /* Evita el mosaico */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
}

:root {
    /* this has to be set to switch between light or dark */
    color-scheme: light dark;
  
    --light-bg: ghostwhite;
    --light-color: darkslategray;
    --light-code: tomato;
  
    --dark-bg: darkslategray;
    --dark-color: ghostwhite;
    --dark-code: gold;
  }
  * {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
  }
  code {
    color: light-dark(var(--light-code), var(--dark-code));
  }
  
  .light {
    /* forces light color-scheme */
    color-scheme: light;
  }
  .dark {
    /* forces dark color-scheme */
    color-scheme: dark;
  }
  
  section {
    padding: 0.8rem;
  }
  